@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;
    --padding-fontsize: 1.075rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--poppins);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: minmax(3.5rem, auto) repeat(5, minmax(1.5em, 3em));
    grid-template-columns: repeat(5, minmax(1.5em, 3em));
    align-content: center;
    gap: 0.6em;
    background: black;
    padding: 10px;
    border-radius: 20px;
}

.btn {
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: var(--padding-fontsize);
}

.output {
    grid-column: span 5 / auto;
}

.span-two {
    grid-column: span 2 / auto;
    border-radius: 60px;
}

.output {
    background: #D2D2D2;
    color: black;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px 10px 0 0;
}

.number {
    background-color: #969696;
    color: #fff;
}

.text-left {
    text-align: left;
    padding-left: var(--padding-fontsize);
}

.operation {
    background: #C4C4C4;
    color: #000;
}

.basic {
    background: #FF7A00;
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
}

.backspace {
    grid-column: 5;
}

.backspace.md-1point3em {
    font-size: 1.3em;
}

@media screen and (max-height: 370px) {
    .container {
    grid-template-rows: minmax(3.5rem, auto) repeat(5,
    minmax(calc(1.5em / 2),
    calc(3em / 2)));
    grid-template-columns: repeat(5,
    minmax(calc(1.5em / 2),
    calc(3em / 2)));
    }

    .btn {
        font-size: 0.7rem;
    }

    .backspace.md-1point3em {
        font-size: 0.7rem;
    }
}